@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");
body{
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada",sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
h1{
    color:whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
    justify-self: center;

}
.row{
    display: flex;
}
.btn{
    border: none;
    width: 75px;
    height: 75;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    font-weight: 500;
    background-color: white;
    opacity: 0.7;
    color:black;
    text-shadow: 2px 2px 4px black;
    border:solid grey 1px;
}
.btn:active{
    outline: none;
}
.btn:hover{
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
}
