h1{
    color:bright white
    margin-bottom: -5px;
}
p{
    margin-bottom: -10px;
}
.ui{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.row{
    display:flex;
}
.cell{
    border: none;
    width:80px;
    height: 80px;
    display: flex;
    align-item:center;
    justify-content: center;
    font-size:24px;
    text-align: center;
    cursor: pointer;

}
.cell:active{
    outline: none;
}

#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

}
#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
#b4{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
#b5{
    border: 1px solid gray;
}
#b6{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b8{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
